<main class="container bg-light rounded my-5">
<container>
    <div class="row g-3">
        <div class="py-5 home" style="background-image: url('/images/background.jpg');">
            <div class="color-overlay d-flex justify-content-center align-items-center">
                <h1>I am an extrovert who is motivated by helping others find solutions to their problems, whether in the professional world or in their personal lives. I love talking to people 1-on-1 and getting satisfaction from using my power to improve someone’s life. I get an adrenaline rush from seeing the direct results of my work and setting high targets for myself to achieve. I thrive when I am challenged and receive constant feedback to improve. I want to be in a role where I can keep growing and become a role model in my community for compassion, altruism, and leadership.</h1>
            </div>    
        </div>
    </div>
</container>
</main>