<main class="container my-5 bg-light rounded">
<container>
<div class="row g-3">
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/SBIQ.png" class="img-fit" alt="SafeboxIQ">
            <div class="card-body">
                <h5 class="card-title">Smart Industrial Protection System </h5>
                <p class="card-text">
                    Designed a fault protection system for industrial motors, generators, and transformers. Implemented smart controls and automation technologies to protect against conditions. Designed a fault protection circuit using ETAP. Developed an Internet-of-Things (IoT) based platform using Google Cloud for detecting abnormal conditions in industrial equipment and notifying the owner/user before fault occurs.
                </p>
                <div class="text">
                    <p>
                     Team Lead
                    </p>
                    <p>
                        Techonologies: IBMCloud
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/eTTSI logo.jpg" class="card-img-top img-fit" alt="e-TTSI">
            <div class="card-body">
                <h5 class="card-title">Simple General-Purpose Processor</h5>
                <p class="card-text">
                    Constructed a simple Digital Processor using VHDL to perform simple arithmetic operations. Designed an Arithmetic Logic Unit, Decoders and Counters combined to form a CPU. Programmed and simulated results on an Altera FPGA Board with seven-segment display. Prepared a technical report describing the achievements and programming codes.
                    PROFESSIONAL AFFILIATIONS
                 </p>
                <div class="text">
                    <p>
                        
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/YouZhu logo.png" class="card-img-top img-fit" alt="YouZhu">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
                <div class="text">
                    <p>
                        
                    </p>
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</container>
</main>